{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"> 

    <title>{% block title %} {% endblock %}</title>

    <style>
        .grey-color{
          color: #ccc;
        }
        .red-color{
          color: red;
        }
    </style>
  </head>
  <body style="background: #E6ECF0;">
    
    {% include "navbar.html" %}

      <div class="container">
        {% block content %}
        {% endblock content %}
      </div>

      <div class="footer bg-dark py-5 mt-5">
          <div class="container">
              <div class="row">
                  <div class="col-sm-6 col-sm-offset-3 mx-auto">
                    <p class="text-center text-white">All rights reserved @Abid</p>
                  </div>
              </div>
          </div>
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {% block scripts %}{% endblock scripts %}

    <!-- scripts for auto search  -->
    <script>
      $(document).ready(function(){
        var typingTimer;
        var doneInterval = 500;
        var searchInput = $("#nav-search-form input[type=text]")
        var searchQuery;

        searchInput.keyup(function(event){
            searchQuery = $(this).val()

            clearTimeout(typingTimer)
            typingTimer = setTimeout(doneSearchTyping, doneInterval)
        });

        searchInput.keydown(function(event){
            clearTimeout(typingTimer)
        });

        function doneSearchTyping(){
          if(searchQuery){
            var url = '/kotha/search/?q=' + searchQuery;
            document.location.href = url
          }
        }
      })
    </script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"  crossorigin="anonymous"></script>
  </body>
</html>